# --- DATABASE CONFIGURATION ---
POSTGRES_HOST=host.docker.internal
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=airconcure_db
POSTGRES_PORT=5432

# --- REDIS CACHE CONFIGURATION ---
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

# --- SMTP MAILHOG CONFIGURATION ---
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=no-reply@rdev.local

# --- SECURITY CONFIGURATION ---
JWT_SECRET_KEY=sample_secret_key

# --- AWS CONFIGURATION ---
AWS_REGION=ap-southeast-1
AWS_BUCKET=sample-bucket